
div.header{
    background-color: #373737;
    color: #E5E4E2;
    padding: 1rem 1rem;
    margin: 0 0rem;
    margin-top: 0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
    font-size: 25px;
}

a.header{
  text-decoration:none;
  color:#E5E4E2;
}

div.settings{
  float:right;
}

div.main{
    margin: 10 1rem;
}

div.search-field{
    margin: 20 0rem;
    margin-top: 7rem;
}

footer.footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #5E5A80;
    margin-top: 10rem;
    color: #E5E4E2;
    clear: both;
    z-index: 10;
    height: 3em;
}

#content { padding-bottom: 3em; }

div.login-form{
    vertical-align: middle;
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #aaaaaa;
    font-style: italic;
}

div.article-content{
    border-radius: 10px;
    border: 1px solid #bbb;
    margin-left: 40rem;
    margin-right: 10rem;
    margin-top: 1rem;
    padding: 2rem 3rem;
}

div.left-header{
  background-color:#373737;
  color:#F4F4F4;
  margin: 1rem .3rem;
  text-align: center;
}

p.left-paragraph{
  padding: 10 0rem;
  margin: 3rem .3rem;
  color: #373737;
}

div.articleComment{
    border-radius: 10px;
    border: 1px solid #bbb;
    margin-top: 2rem;
    margin-left: 40rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
    padding: 1rem 3rem;
}


li.message{
    border-radius: 2px;
    padding: 1rem 1rem;
    border: 1px solid #E8E8E8;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:#f5f5dc ;
    list-style-type: none;
}

/* div.index-content{ */
/*     margin-left: 30rem; */
/*     margin-right: 0rem; */
/*     padding: 1rem 0rem; */
/* } */

div.status-content{
    padding: 1rem 1rem;
    margin-right: 0rem;
    margin-top: 4rem;
    border-radius: 4px;
    border: 1px solid #EEE8E8;
    background-color: #d0ddea;
}

.hidden{
  display:none;
}

.borderleft{
  position: relative;
  right: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  border-left: 1px solid #AAAAAA;
  background-color: #F4F4F4;
}

div.leftcolumn{
  padding: 3rem 1rem;
  background-color: #F4F4F4;
}

ul.nobullet{
  list-style-type: none;
}

a.linkarticle{
  color:#696969;
}

b.tag{
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 80%;
  white-space: nowrap;
  background: #CE99E0;
  border: 1px solid #75348A;
  border-radius: 4px;
}

/* Article page: */
p.authors{
  color:#888888; font-style: italic;
}

div.form{
  margin-top: 5px;
}

p.form{
  margin-top: 5px; float: right; position:relative;
}


/* Login page */
div.login{
  align-items: center;
  text-align: center;
}

h1.login{
  font-style: normal; color: #000000
}

input.login{
  font-style: normal;
}

div.flashes{
  display: block;
  margin: 0px auto;
  position: relative;
  color:#111111; font-weight: bold;
  border-radius: 1px;
  border: 0px solid #bbb;
  background-color: #e5efda;
  width: 150px;
}

ul.flashes{
  list-style-type: none;
}

a.reflink{
  color: #373737;
}
