{% extends "base.html" %}
{% set page = 'about' %}

{% block content %}
<div class="login">
  <h1 class="login"> <b>Login</b></h1>
  <div class="login-form">

    <form action="/login" method="post">
      <p>
        User name
        <br/>
        <input type="text" name="name" tabindex="1" />
        <br/>
        {% for error in form.name.errors %}
          <span class="help-inline">{{ error }}</span><br>
        {% endfor %}
      </p>
      <br/>
      <p>
        Password
        <br/>
        <input type="password" name="passwd" tabindex="2"/>
        <br/>
        {% for error in form.passwd.errors %}
            <span class="help-inline">{{ error }}</span><br>
        {% endfor %}
      </p>
      <br/>
      {{ form.csrf_token }}
      <input type="submit" value="Sign In" class="login" tabindex="2">
    </form>

  </div>
</div>
{% endblock %}
