<!-- <!DOCTYPE html> -->
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/modal.css">
  </head>

  <body>
    <div class="header">
      <a href="/index" class="header"> <b> Bibliography </b> </a>
      <div class="settings">
        <a href="/logout"> <img src="/static/img/log.svg" width=25px></a>
      </div>
    </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class=flashes>
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}
        {% endwith %}
    <div class="main">

      {% block content %}
      {% endblock %}
    </div>


    <script src="/static/js/modal.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>

