{% extends "base.html" %}
{% set page = 'references' %}

{% block content %}

<div class="row">
  <div class="three columns leftcolumn">
    <div>
      <h5> Filters </h5>

        <a href="/biblio" class="buttonlink" tabindex="3">Clear</a>

        <hr/ class="ref">
        <ul  class="navlist nobullet">
          Years
          {% for y in years%}
          <li class="li-filter">
            <input type="checkbox" name="years" value="{{y}}" class="checkyear" {%if y in checked%} checked {% endif %}>
            <a href="/biblio/query?year={{y}}:">{{y}}</a>
          </li>
          {%endfor%}
        </ul>

        <hr/ class="ref">
        <ul  class="navlist nobullet">  Types
          {% for t in types%}
          <li class="li-filter">
            <input type="checkbox" name="types" class="checktype" value="{{t}}" {%if t in checked%} checked {% endif %}>
            <a href="/biblio/query?type={{t}}:">{{t}}</a>
          </li>
          {%endfor%}
        </ul>

        <hr/ class="ref">
        <ul  class="navlist nobullet"> Tags
          {% for t in tags%}
          <li class="li-filter">
            <input type="checkbox" name="types" class="checktags" value="{{t}}" {%if t in checked%} checked {% endif %}>
            <a href="/biblio/query?tags={{t}}:">{{t}}</a>
          </li>
          {%endfor%}
        </ul>

        <hr/ class="ref">
        <ul class="authorul">  Authors
        <br/>
        {% for a in authors%}
        <a class="author" href="/biblio/author={{a}}"> {{a}} </a>
        {%endfor%}
        </ul>
      </div>
  </div>

{% include "modal.html" %}

<div class="nine columns">
  <div class="container bs-docs-container">
    <div class="bs-example">


      <div class="search-field">
        <form method="post" action="/biblio/search">
          {{ form.csrf_token }}
          <input type="text" name="name" size="60" tabindex="1">
          <select name="source" id="bibtype">
            <option value="local">Local</option>
            <option value="arxiv">Arxiv</option>
            <option value="hal">HAL</option>
          </select>
          <input type="submit" value="Search" tabindex="2">
        </form>
      </div>
      <button id="myBtn">+</button>

      <ul class="list-group">

        {% for y, refs in references%}
          <hr/>
          <h4> {{y}} </h4>
          <ul>
            {% for r in refs%}

            <li class="list-group-item">
              {{ r.authors }}. <b class="type"> {{r.ENTRYTYPE}} </b>
              <br/>
              <em> <a href="/biblio/article={{r.ID}}"> {{r.title}}. </a></em>
              <br/>
              {{r.origin}}
               <a href="/bibtex={{r.ID}}" class="elink"> <b> [bib] </b> </a>
              {% if r.link %}
                <a href="{{r.link}}" class="elink"> <b> [url] </b> </a>
              {% endif %}
              {% if r.keywords%}
              <br/>
              <b> Keywords </b>:{% for k in r.keywords%} <b class="keyword">{{k}}</b> {%endfor %}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
</div>
{% endblock %}
