{% extends "base.html" %}
{% set page = 'about' %}

{% block content %}
  <div class="article-content">

    <h1><b> {{article.title}} </b></h1>

    <p style="color:#888888; font-style: italic;"> {{article.authors}} </p>

    <h4> Abstract</h4>

    Some discussion about something that might be interesting.

    <hr/ style="margin-top:3rem">

  {% if keyword %}
    <br/>
    <b> Keywords </b>:{% for k in keyword%} <b class="keyword">{{k}}</b> {%endfor %}
  {% endif %}

  <p style="margin-top:1rem">
    <b> Type: </b> <b class="type">{{article.ENTRYTYPE}}</b>
  </p>

  <hr/ style="margin-top:6rem">
  <p style="font-size: 12; color:#888888;">
    <b> Added by: Foo - yesterday</b>
  </p>


    <button id="myBtn">Modify</button>
</div>

<div class="articleComment">
  <ul>
  {% for p in posts%}
  <li class="message">
  <b> {{ p.author}}</b> {{p.date}} <br/> {{p.message}}
  </li>
  {% endfor %}
  </ul>

  <form action="/biblio/postcomment" id="usrform" method="POST">
    <!-- Name: <input type="text" name="usrname"> -->
  <!-- <textarea name="comment" form="usrform" rows="4" cols="50" wrap="hard">Add commentary...</textarea> -->
  {{commentform.message(rows=4, cols=50)}}
    </br>
    <input type="submit" value="Comment">
  </form>
</div>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close"><b>x</b></span>
    <p>Add entry to bibliography:</p>
    <form action="/biblio/updateentry" method="post" name="login">
        {{ bibform.hidden_tag() }}

        <div class="row">
          <div class="one column"><b>Type</b></div>
          <div class="eleven columns">
            <select name="typ">
              <option value="phdthesis">PhD</option>
              <option value="article">Article</option>
              <option value="book">Book</option>
              <option value="inproceedings">In Proceedings</option>
            </select>
          </div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="one column"><b>Title</b></div>
          <div class="eleven columns">{{bibform.title(size=80, value=article.title)}}</div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="one column"><b>Author(s)</b></div>
          <div class="eleven columns">{{ bibform.author(size=50, value=article.authors) }}</div>
          <br/>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="one column"><b>Year</b></div>
          <div class="eleven columns">{{ bibform.year(size=4, value=article.year) }}</div>
        </div>
        <div class="row" style="margin-top: 5px">
          <div class="one column"><b>Journal</b></div>
          <div class="eleven columns">{{ bibform.journal(size=50, value=article.journal) }}</div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="one column"><b>ID</b></div>
          <div class="eleven columns">{{ bibform.ID(size=20, value=article.ID) }}</div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="one column"><b>Keyword</b></div>
          <div class="eleven columns">{{ bibform.keywords(size=20, value=article.keywords) }}</div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="one column"><b>School</b></div>
          <div class="eleven columns">{{ bibform.school(size=20, value=article.school) }}</div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="one column"><b>URL</b></div>
          <div class="eleven columns">{{ bibform.url(size=20, value=article.url) }}</div>
        </div>

        <p style="margin-top: 5px; float: right; position:relative;">
          <input type="submit" class="button-primary" value="Add">
        </p>
    </form>
  </div>

</div>

{% endblock %}
