<!-- <!DOCTYPE html> -->
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/modal.css">
  </head>

  <body>
  <div class="header">
      <a href="/index" style="text-decoration:none; color:#E5E4E2"> <b> Bibliography </b> </a>
  <div class="settings" style="float:right">
      <a href="/logout"> <img src="static/img/log.svg" width=25px></a>
  </div>
  </div>

  <div class="main">

        {% block content %}
        {% endblock %}
  </div>
<!--
  <footer class="footer">
  {{ license_info }} {{engine}}. Contact: francois.pacaud@mines-paris.org
  </footer> -->

<script type="text/javascript">
  // Get the modal
  var modal = document.getElementById('myModal');
  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  // When the user clicks the button, open the modal
  btn.onclick = function() {
      modal.style.display = "block";
  }
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
      modal.style.display = "none";
  }
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }

  document.onkeypress = function(evt) {
    evt = evt || window.event;
    var charCode = evt.keyCode || evt.which;
    if (evt.keyCode == 27) {
      modal.style.display = "none";
    }
  };

  var checkedyear = document.getElementsByClassName('checkyear');
  var checkedtype = document.getElementsByClassName('checktype');

  // Get value of all checkbox checked in a specified array
  function checkClickedTab(tab, field){
    var ss = field;
    var it, count;
    count = 0;
    for (it=0; it< tab.length; it++){
      if (tab[it].checked){
        ss = ss.concat(tab[it].value, ":");
        count += 1;
      };
    }

    if(count >= 1){
      return ss
    }
    else{
      return ""
    }
  }


  function checkClicked(){
    cy = checkClickedTab(checkedyear, "year=");
    ct = checkClickedTab(checkedtype, "type=");

    if(cy == "" && ct == ""){

    }
    else if(cy != "" && ct == ""){
      window.location.href = "/biblio/".concat(cy);
    }
    else if(cy =="" && ct != ""){
      window.location.href = "/biblio/".concat(ct);
    }
    else{
      ss = cy.concat("&", ct);
      window.location.href = "/biblio/query?".concat(ss);
    }

    // ss = checkClickedTab(checkedyear).concat("&", checkClickedTab(checkedtype))
  }

  var it;
  for (it=0; it< checkedyear.length; it++){
    checkedyear[it].onclick = checkClicked;
  }
  for (it=0; it< checkedtype.length; it++){
    checkedtype[it].onclick = checkClicked;
  }

</script>

  </body>
</html>

